<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Ahorro Familiar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<h2>💰 Ahorro Familiar</h2>

<form method="post">
    <input type="text" name="nombre" placeholder="Tu nombre" required><br><br>
    <input type="number" name="monto" placeholder="Monto" required><br><br>
    <button type="submit">Guardar ahorro</button>
</form>

<hr>

<h3>📊 Total general: ${{ total }}</h3>

<h3>📜 Historial</h3>
<ul>
    {% for a in ahorros %}
        <li>{{ a.fecha.split(" ")[0] }} - {{ a.nombre }} - ${{ a.monto }}</li>
    {% endfor %}
</ul>

<h3>👥 Ahorro por persona</h3>
<ul>
    {% for nombre, monto in por_persona.items() %}
        <li>{{ nombre }}: ${{ monto }}</li>
    {% endfor %}
</ul>



</body>
</html>

